<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Support Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Customer Support Chatbot 🤖</h1>
        <div id="training-status">
            {% if not model_trained %}
                <p><strong>Model Status:</strong> <span style="color: red; font-size: 18px; font-weight: bold;">Not Trained</span></p>
                <button id="train-button">Train using CSV Data</button>
                <p id="training-message" class="message"></p>
            {% else %}
                <p><strong>Model Status:</strong> <span style="color: green; font-size: 18px; font-weight: bold;">Ready</span></p>
                
            {% endif %}
        </div>

        <div id="chatbox">
            <div class="message bot">Welcome!! I'm your support assistant. Enter your question to get or receive assistance based on past support queries..</div>
            </div>

        <div id="input-area">
            <input type="text" id="user-input" placeholder="Ask a question...">
            <button id="send-button">Send</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>